a#home-btn {
  margin-left: 30px;
  background-color: #505066;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 75px;
  padding-left: 75px;
  border-radius: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a#home-btn:hover {
  text-decoration: none; 
  color: #fff;
  background-color: #3F3F51;
}