#logo {
  margin-top: 60px;
}

#logo-icon {
  width: 60px;
}

#logo-name {
  margin-top: 16px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: #F6C7C6;
  font-weight: 900;
}